@mixin flexColumn {
  display: flex;
  flex-direction: column;
}
.container {
  width: 23%;
  border: 1px solid #F8F8F8;
  border-radius: 40px;
  padding: 20px;

  margin: 0 0 30px 0;
  &:hover,
  &:focus {
    box-shadow: 0 14px 30px rgba(0, 0, 0, 0.05);
  }
}

.card {
  position: relative;
  @include flexColumn;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.favoritesIcon {
  position: absolute;
  bottom: 85%;
  right: 85%;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 9.6px;
  &:hover,
  &:focus {
    background: #FEF0F0;
    border-radius: 7px;
  }

}

.brandName {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;

  color: #000000;
}
.priceContainer {
  @include flexColumn;
  .priceName {
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    text-transform: uppercase;
    margin-bottom: 10px;

    color: #BDBDBD;
  }
  .price {
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;

    color: #000000;

  }
}
.cardInfoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cardButton {
  padding: 10px;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  border-radius: 8px;
}
